#jsDom
    padding: 50px 0
    .chat
        background-color: #e8edff
        max-width: 500px
        border-radius: 20px
        padding: 20px
        display: flex
        flex-direction: column
        margin: auto
        .message
            background-color: #ffff
            min-height: 200px
            border-radius: 20px
            display: flex
            flex-direction: column
            .end
                align-self: flex-end
            .line
                display: inline-block
                background-color: #7c8ee4
                color: #ffff
                padding: 10px 25px
                border-radius: 15px
                font-size: 14px
                margin: 5px 10px
        .text
            display: flex
            justify-content: space-between
            margin-top: 20px
            input
                padding: 10px 15px
                border-radius: 20px
                margin-right: 10px
                font-size: 14px
            .sent
                background-color: #9aaeed
                padding: 10px 25px
                border-radius: 15px
                cursor: pointer
                h3
                    color: #ffff
                    font-size: 14px
    @media  (max-width: 768px)
        .chat
            margin-bottom: 40px
